.copyright {
  margin-top: 15px;

  vertical-align: top;

  font-size: 0;
}

.copyright__text {
  vertical-align: top;

  font-size: @font-size;
  line-height: 30px;
}

.copyright__owner {
  margin-left: 5px;
}

.copyright__icon-academy {
  fill: @pink-color;

  &:hover {
    fill: @dark-fon;
  }

  &:active {
    opacity: 0.3;

    fill: @pink-color;
  }
}
